body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.15rem;
}

.navigation-bar{
  padding: 0 7% 0;
  opacity: 1;
}

.company_logo{
  height: 50px;
  margin-right: 2%;
}

.my-video {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}


.title{
  padding: 3% 15% 7%;
  width: 100%;
  overflow: hidden;
  animation: fadeIn 2.5s;
  -webkit-animation: fadeIn 2.5s;
  -moz-animation: fadeIn 2.5s;
  -o-animation: fadeIn 2.5s;
  -ms-animation: fadeIn 2.5s;
}

@keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-moz-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-webkit-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

@-o-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
}

/* @-ms-keyframes fadeIn {
0% { opacity: 0; }
100% { opacity: 1; }
} */

/*Navigation Bar*/


.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;

}

.nav-link {
    font-size: 1.2rem;
}

.container-fluid{
  padding: 0;
}

.download-button{
  margin-top: 3%;
}



.header-container{
  color: white;
}

.big-heading{
  margin-top: 17.5%;
  margin-bottom: 5%;
  font-size: 3rem;
}

.sub-text{
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
}

/* features  */

.features{
  margin: 5% 5% 3%;
  text-align: center;
}

@media (min-width: 1600px) {
  .features{
    margin-top: 12%;
}}

.feature-image{
  width: 20%;
  margin-bottom: 5%;
}

.feature_heading{
  margin-bottom: 4%;
  font-size: 2rem;
}

.feat_subtitle{
  margin-top: 5%;
  font-weight: bold;
}

/* Services */

.services{
  padding: 5% 5% 0;
  background-color: #1c2b68;
  color: white;
}

.si-container{
  text-align: center;
}

.services-image{
  height: 75%;
}

.service-row{
  height: 400px;
}

/* Testimonials */
.testimonials{
  margin: 5% 5%;
  text-align: center;
}

.quote_heading{
  margin-bottom: 2%;
}

.quote_person{
  margin-top: 2%;
}

.company_logos{
  width: 15%;
  text-align: center;
}

/* Contact Us */

.contact_headings{
  margin-top: 5%;
  margin-bottom: 1%
}

.whatsapp-button{
  background-color: green;
}

.contact_us{
  padding: 5% 5%;
  background-color: #1c2b68;
  color: white;
}

.form-group{
  margin: 3% 0;
}

.email_link{
  color: white;
}

.submit-button{
  margin-top: 3%;
  background-color: green;
}


/* Footer */

.footer{
  background-color: grey;
  color: white;
  padding: 3%;
  text-align: center;
}

.linkedin-icon{
  font-size: 3rem;
}

.copyright{
  margin-top: 2%;
  margin-bottom: 0;
}


/* Example report page below */

.reports{
  text-align: center;
  padding: 3% 5%;
  background-color: #FFF;
}

.report_headings{
  margin: 2% 0;
}

@media (min-width: 1600px) {
  .reports{
    padding: 1% 5% 3%;
}}
